/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.error-text{
    -fx-font-size: 20px;
    -fx-fill: #ff0000;
}

.root{
    -fx-background-image: url("awesome_mark.png");
}
